body {
  background: #2F3945;
}

main {
  display: block;
  max-width: 450px;
  padding: 20px;
  margin: 100px auto;
  background: #fff;
  box-sizing: border-box;
}

fieldset {
  border: none;
  height: 200px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100px;
  height: 30px;
  font: normal 24px monospace;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="submit"] {
  hover: ;
  width: 30px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius; 4px
  background: linear-gradient(to bottom, #f0f0f0 0%, #d5d5d5 100%)
}

input[type="submit"]:hover {
  cursor: pointer;
}