main {
  margin: 0 auto;
}

figure {
  text-align: center;
  margin: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*.mySlides {
  display: none;
}
*/
figure + figure {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0%;
}

.next {
  right: 0%;
}